body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.login-form {
  width: 300px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
}

.input-field {
  width: 300px;
  height: 20px;
  padding: 5px 0 5px 0;
}

.password-field {
  width: 300px;
  height: 20px;
  padding: 5px 0 5px 0;
}

.input-field input {
  display: inline;
}

.input-field-label {
  margin-right: 20px;
}

.password-field input {
  display: inline;
}

.password-field label {
  margin-right: 20px;
}

.login-submit {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80px;
  height: 40px;
}

.error-message {
  color: red;
}

.logout-link a {
  color: #4095bf;
}

.logout-link {
  margin-top: 20px;
  margin-bottom: 20px;
}


.logout-link:hover {
  color: #4095bf;
  text-decoration: underline;
}

.repo-form {
  width: 300px;
  height: 30px;
  margin: auto;
}

.repo-submit {
  display: inline;
}

.repo-form .input-field {
  display: inline;
}

.repo-form .error-message {
  display: block;
}
